
node_modules
.env
proposals.json
/certificates

# Local dev config (symlinked from transit-local-services)
local.hardhat.config.ts

# Hardhat files
/cache
/artifacts
/deployments
/src/deployments/localhost
/src/deployments/minikube

# TypeChain files
/typechain
/typechain-types
/dist

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

.DS_Store
.idea
.vscode

# Thegraph files
thegraph-indexer/ocn-registry-oli/data
thegraph-indexer/ocn-registry-oli/subgraph-dev.yaml
thegraph-indexer/ocn-registry-oli/docker-compose.dev.yml